<mat-toolbar>
  Welcome to {{ title }}!
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Options</span>
    </button>
  </mat-menu> -->
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<!-- <mat-tab-group>
  <mat-tab label="Chat">
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Play">
    <app-game-manager *ngIf="state$.currentGame"></app-game-manager>
    <button mat-raised-button *ngIf="!state$.currentGame">Start Game</button>
  </mat-tab>
</mat-tab-group> -->
<router-outlet></router-outlet>